@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Customers</h2>
        <ul>
            <li><a href="/Customer/Create">Create</a></li>
            <li><a href="/Customer/List">List</a></li>
            <li><a href="/Customer/Get?customerId=id-goes-here">Get by ID</a></li>
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Orders</h2>
        <ul>
            <li><a href="/Order/Create">Create</a></li>
            <li><a href="/Order/Pending">Pending</a></li>
            <li><a href="/Order/Book?orderId=id-goes-here">Book by ID</a></li>
            <li><a href="/Order/Get?orderId=id-goes-here">Get by ID</a></li>
        </ul>
    </div>
</div>
